/* Margens universal */
*{margin: 0; padding: 0; 
}

#site{
    /* Definimos a largura da página */
    width:100%;
    /* Definirmos a altura da página*/
    /*height:70%;*/
    /* Aqui definiremos a posição que a página ocupará na tela, nesse caso estamos definindo que fique centralizado na tela*/
    /*top : posição de cima */
    margin-top:0px;
    /* left: posição de esquerda*/
    /*margin-left:auto;*/
    /* bottom : posição de baixo */
    margin-bottom:0;
    /* right : posição de direita */
    /*margin-right:auto;*/
    /* Aqui definiremos a cor de fundo da página */
    /*background-color:#666;*/
}

#header{
    /*Novamente definimos a largura da div*/
    width:100%;
    /* altura da div */
    height:27px;
    /* Cor de fundo da div */
    background-color: #2a80b9;
}

#conteudo{
    /*Novamente definimos a largura da div*/
    width:982px;
    /* altura da div */
    height:440px;
    /* Cor de fundo da div */
    /*background-color:#0F0;*/
	/*Alinha a esquerda*/
	/*margin-left: 150px;*/
	/*Alinha a direita*/
	/*margin-right: -150px;*/
	margin:0 auto;
	left:0px;
	right:0px;
	overflow:hidden;
	clear: both;
}  
#footer{
    /*Novamente definimos a largura da div*/
    width:982px;
    /*background-color:#0F0;*/
	/*Alinha a esquerda*/
	/*margin-left: 150px;*/
	/*Alinha a direita*/
	/*margin-right: -150px;*/
    /* altura da div */
    height:41px;
    /* Cor de fundo da div */
    background-color: #2a80b9;
	margin:0 auto;
	left:0px;
	right:0px;
	border-radius: 100px 100px 0 0;
}
#menu{
	/*Novamente definimos a largura da div*/
    width:100%;
    /* altura da div */
    /*height:150px;*/
    /* Cor de fundo da div */
	top:25px;
	left:0px;
	right:0px;
}

#menuopc{
    /*Novamente definimos a largura da div*/
    width:982px;
    /* altura da div */
    height:150px;
    /* Cor de fundo da div */
    /*background-color:#0F0;*/
	/*Alinha a esquerda*/
	/*margin-left: 150px;*/
	/*Alinha a direita*/
	/*margin-right: -150px;*/
	margin:0 auto;
}

#menubot{
    /*Novamente definimos a largura da div*/
    width:100%;
	display: block;	
}

#menuopco{
	width:100%; 
	display: block;	
}

#divesquerda{
	/*top : posição de cima */
	float:left;
	display: block;
	width: 440px;
}

#divdireita{
	/*top : posição de cima */
	float:right;
	width: 440px;
	display: block;
}

ul {
list-style-type: none;
}

.menu{
	list-style:none;
	float:left;
}
		
.menu li{
	position:relative;
	float:left;
}
	
.menu li a{color:#2a80b9; text-decoration:none; padding:5px 11px; display:block; font: 18px Arial, sans-serif;}

.menu li a:hover{
	background:#2a80b9;
	color:#fff;
	-moz-box-shadow:3 10px 14px #CCC;
	-webkit-box-shadow:3 10px 14px 0 #ccc;
	text-shadow:0px 0px 13px #fff;
}

.menu li:hover ul, .menu li.over ul{display:block;}
		
.menu li ul li{
	display:block;
	width:150px;
}
		
.menu li  ul{
	position:absolute;
	top:25px;
	left:0;
	background-color:#fff;
	display:none;
} 

a{
font: 12px Arial, sans-serif;
color: #FFF;
text-decoration: none;
}

#divlinks{
    /*Novamente definimos a largura da div*/
    width:982px;
    /* altura da div */
    height:27px;
    /* Cor de fundo da div */
    /*background-color:#0F0;*/
	/*Alinha a esquerda*/
	/*margin-left: 150px;*/
	/*Alinha a direita*/
	/*margin-right: -150px;*/
	margin:0 auto;
	padding: 6px;
}

h1#logo {
    margin: 16px 0;
    width: 189px;
}

h1 {
    font-family: "Varela",sans-serif;
}

a.inscrevase {
padding: 20px 90px;
background-color: #3b5182;
color: #fff;
border-bottom: 2px solid #2d4271;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
font-family: 'VDSRegular', Arial !important;
text-decoration: none;
font-size: 20px;
float:right;
display: block;
width: 120px;
}

video{
    /*Novamente definimos a largura da div*/
    width:640px;
    /* altura da div */
    height:300px;
    /* Cor de fundo da div */
    /*background-color:#0F0;*/
	/*Alinha a esquerda*/
	/*margin-left: 150px;*/
	/*Alinha a direita*/
	/*margin-right: -150px;*/
	margin:0 auto;
	left:0px;
	right:0px;
	overflow:hidden;
	clear: both;
}
