/* Margens universal */
*{margin: 0; padding: 0; 
}

#site{
    /* Definimos a largura da página */
    width:100%;
    /* Definirmos a altura da página*/
    height:70%;
    /* Aqui definiremos a posição que a página ocupará na tela, nesse caso estamos definindo que fique centralizado na tela*/
    /*top : posição de cima */
    margin-top:0;
    /* left: posição de esquerda*/
    margin-left:auto;
    /* bottom : posição de baixo */
    margin-bottom:0;
    /* right : posição de direita */
    margin-right:auto;
    /* Aqui definiremos a cor de fundo da página */
    /*background-color:#666;*/
}

#header{
    /*Novamente definimos a largura da div*/
    width:100%;
    /* altura da div */
    height:27px;
    /* Cor de fundo da div */
    background-color: #2a80b9;

}

#conteudo{
    /*Novamente definimos a largura da div*/
    width:1000px;
    /* altura da div */
    height:589px;
    /* Cor de fundo da div */
    /*background-color:#0F0;*/
	/*Alinha a esquerda*/
	margin-left: 150px;
	/*Alinha a direita*/
	margin-right: -150px;
}  
#footer{
    /*Novamente definimos a largura da div*/
    width:100%;
    /* altura da div */
    height:41px;
    /* Cor de fundo da div */
    background-color: #2a80b9;
}
#menu{
/*Novamente definimos a largura da div*/
    width:100%;
    /* altura da div */
    height:150px;
    /* Cor de fundo da div */
 
}

#menuopc{
    /*Novamente definimos a largura da div*/
    width:1000px;
    /* altura da div */
    height:150px;
    /* Cor de fundo da div */
    /*background-color:#0F0;*/
	/*Alinha a esquerda*/
	margin-left: 150px;
	/*Alinha a direita*/
	margin-right: -150px;
}

#menubot{
    /*Novamente definimos a largura da div*/
    width:1000px;
    /* altura da div */
    height:60px;
    /* Cor de fundo da div */
    /*background-color:#0F0;*/
	/*Alinha a esquerda*/
	margin-left: 150px;
	/*Alinha a direita*/
	margin-right: -150px;
}

#menuopco{
	width:100%;
}

.menu{
	list-style:none;
	border:1px solid #c0c0c0;
	float:left;
}
		
.menu li{
	position:relative;
	float:left;
	border-right:1px solid #c0c0c0;
}
	
.menu li a{color:#333; text-decoration:none; padding:5px 10px; display:block;}

.menu li a:hover{
	background:#333;
	color:#fff;
	-moz-box-shadow:0 3px 10px 0 #CCC;
	-webkit-box-shadow:0 3px 10px 0 #ccc;
	text-shadow:0px 0px 5px #fff;
}
	
.menu li:hover ul, .menu li.over ul{display:block;}
		
.menu li ul li{
	border:1px solid #c0c0c0;
	display:block;
	width:150px;
}
		
.menu li  ul{
	position:absolute;
	top:25px;
	left:0;
	background-color:#fff;
	display:none;
} 

a{
text-decoration: none;
font: 12px 'OpenSans400', Tahoma, Arial, sans-serif;
color: #FFF;
padding-right: 20px;
transition: all .1s linear; -ms-transition: all .1s linear;
-moz-transition: all .1s linear;
-webkit-transition: all .1s linear;
}

#divlinks{
    /*Novamente definimos a largura da div*/
    width:1000px;
    /* altura da div */
    height:150px;
    /* Cor de fundo da div */
    /*background-color:#0F0;*/
	/*Alinha a esquerda*/
	margin-left: 150px;
	/*Alinha a direita*/
	margin-right: -150px;
}


h1#logo {
    margin: 16px 0;
    width: 189px;
}
h1 {
    font-family: "Varela",sans-serif;
}
}

